<!DOCTYPE html>
<html>
<head>
    <title>Your Cart</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            Pragna E-Commerce Store
        </a>

        <a href="/"
           class="btn btn-light">
           Continue Shopping
        </a>
    </div>
</nav>

<div class="container mt-5">

    <h1 class="mb-4">Your Cart</h1>

    {% for item in carts %}

    <div class="card mb-4 shadow">

        <div class="card-body">

            <div class="row align-items-center">

                <div class="col-md-3">

                    {% if item.product.image %}
<img src="{{ item.product.image.url }}"
     class="img-fluid rounded"
     alt="{{ item.product.name }}">
{% endif %}
                </div>

                <div class="col-md-6">

                    <h3>{{ item.product.name }}</h3>

                    <h4 class="text-success">
                        ₹{{ item.product.price }}
                    </h4>

                    <div class="mt-3">

                        <a href="/decrease/{{ item.id }}/"
                           class="btn btn-danger btn-sm">
                           -
                        </a>

                        <span class="mx-3 fw-bold">
                            {{ item.quantity }}
                        </span>

                        <a href="/increase/{{ item.id }}/"
                           class="btn btn-success btn-sm">
                           +
                        </a>

                    </div>

                </div>

                <div class="col-md-3">

                    <a href="/remove-cart/{{ item.id }}/"
                       class="btn btn-danger">
                       Remove
                    </a>

                </div>

            </div>

        </div>

    </div>

    {% empty %}

    <div class="alert alert-info">
        Your cart is empty.
    </div>

    {% endfor %}

    <hr>

    <div class="text-end">

        <h3>
            Total: ₹{{ total }}
        </h3>
        <a href="/checkout/"
   class="btn btn-success mt-3">
   Proceed To Checkout
</a>

    </div>

</div>

</body>
</html>